@use 'tokens' as tokens;

@mixin viewport-vars {
  --kne-viewport-width: 100vw;
  --kne-viewport-height: 100dvh;
  --kne-viewport-inline-size: 100vw;
  --kne-viewport-block-size: 100dvh;
}

:root {
  @include viewport-vars;
}

.#{tokens.$responsive-boundary-class} {
  @include viewport-vars;
}
